.card {
    position:fixed;
    top: 34%;
    left: 51%;
    width:24em;
    height:27em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/

    border-radius: 25px;
    background: linear-gradient(to right, #bcbcbc 25%,#ffcd02 25%, #ffcd02 50%, #e84f47 50%, #e84f47 75%, #65c1ac 75%);
}
.heading_home {
    margin-top: -50px;
    margin-left: 102px;
    text-decoration: none;
    color: black;
}

.how_to {
    margin:0px;
    background: white;
}

.scoreMe {
    margin-left: 42%;
    margin-right: 42%;
}

.instruction_heading {
    margin-top: 46px;
    margin-left: 0px;
    cursor:pointer;
}

.main_page {
    display: grid;
    grid-template-columns: auto auto auto;
}
.displayIns {
    display: grid;
    grid-template-columns: auto auto;
}

.home_header {
    background: lavenderblush;
    height: 30px;
    font-style: italic;
}
.mainHeading {
 background: lavenderblush;
    font-style: italic;
    text-align: center;
    border: 2px solid beige;
}

.app-overview {
    margin-left:19px;
    cursor: default;
    color: black;
    font-weight: bold;
}
.small {
    height:22em;
}
.help {
    top:36%;
    left:76%;
    display: grid;
    height: auto;
    /* width: 12px; */
    background: none;
    grid-template-rows: auto auto;
    grid-row-gap: 61px;
}

.statement p{
    background: lightgoldenrodyellow;
    border-radius: 25px;
    padding: 12px;
    width:280px;
    font-weight: bold;
    font-size: large;
}

.home_button {
    font-size: large;
    /* border-radius: 30px; */
    margin-bottom: -8px;
    width: 145px;
    height: 45px;
    font-weight: bold;
    font-family: serif;
    cursor: pointer;
    background: white;
}


.some_header {
    position:fixed;
    top: 97%;
    left: 51%;
    width:24em;
    height:27em;
    margin-top: -41em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em;
}
.card_home {
    grid-row-gap: 12px;
    justify-items: center;
    position: fixed;
    top: 27%;
    left: 57%;
    height: 15em;
    margin-top: -9em;
    margin-left: -15em;
    display: grid;
    grid-template-rows: auto auto auto;
}

.baba {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.card_home_one {
    position: fixed;
    top: 83%;
    left: 25%;
    height: 10em;
    margin-top: -9em;
    margin-left: -15em;
    display: grid;
    grid-template-columns: auto auto;
    justify-items: flex-start;
}

.card_home_two {
    position: fixed;
    top: 85%;
    left: 74%;
    height: 10em;
    margin-top: -9em;
    margin-left: -15em;
    display: grid;
    grid-template-columns: auto auto;
    justify-items: flex-start;

}

.some {
    position:fixed;
    top: 101%;
    left: 51%;
    width:24em;
    height:27em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em;
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
}

.another {
    top: 109%;
    /* left: 51%; */
    width: 24em;
    height: 2em;
    margin-top: -9em;
    margin-left: -15em;
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
}

.two_things {
    display: grid;
    grid-template-columns: 0fr auto;
    margin-top: -112px;
    margin-left: -125px;
}
.three {
    grid-template-columns: auto auto auto auto;
}

.some_home {
    position: fixed;
    top: 96%;
    /* left: 26%; */
    width: 95em;
    height: 27em;
    margin-top: -9em;
    /* margin-left: -15em; */
    display: grid;
    background-image: url("./crowd-young-elderly-men-women-trendy-hipster-clothes_10083-912.jpg");
}

@media screen
and (min-device-width: 1368px)
and (max-device-width: 1420px)
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) {
    .card {
        top: 32%;
        width: 22em;
        left: 56%;
    }
    .some {
        top: 97%;
        left: 55%;
    }
    .another {
        top: 104%;
    }

    .scoreMe {
        margin-left: 45%;
        margin-right: 30%;
    }

    .help {
        top:32%;
        left:79%;
        display: grid;
        height: auto;
        /* width: 12px; */
        background: none;
        grid-template-rows: auto auto;
        grid-row-gap: 61px;
    }
    .two_things {
        display: grid;
        margin-top: -112px;
        margin-left: -125px;
    }
    .card_home_one {
        position: fixed;
        top: 83%;
        left: 25%;
        height: 10em;
        margin-top: -9em;
        margin-left: -15em;
        display: grid;
        grid-template-columns: auto auto;
        justify-items: flex-start;
    }

    .card_home_two {
        position: fixed;
        top: 85%;
        left: 74%;
        height: 10em;
        margin-top: -9em;
        margin-left: -15em;
        display: grid;
        grid-template-columns: auto auto;
        justify-items: flex-start;
    }
    .some_home {
        position: fixed;
        top: 96%;
        /* left: 26%; */
        width: 95em;
        height: 27em;
        margin-top: -9em;
        /* margin-left: -15em; */
        display: grid;
        background-image: url("./crowd-young-elderly-men-women-trendy-hipster-clothes_10083-912.jpg");
    }
}

.factwrong__icon {
    cursor: pointer;
}

@media screen
and (min-device-width: 992px)
and (max-device-width: 1230px)
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) {
    .card {
        top: 33%;
        width: 22em;
        left: 58%;
    }
    .some {
        top: 99%;
        left: 57%;
    }

    .another {
        top: 104%;
        left: 57%;
    }
    .small {
        top:33%;
    }
    .scoreMe {
        margin-left: 46%;
        margin-right: 38%;
    }
    .help {
        top:35%;
        left:86%;
        display: grid;
        height: auto;
        /* width: 12px; */
        background: none;
        grid-template-rows: auto auto;
        grid-row-gap: 61px;
    }
    .two_things {
        display: grid;
        margin-top: -112px;
        margin-left: -125px;
    }

    .card_home_one {
        position: fixed;
        top: 83%;
        left: 25%;
        height: 10em;
        margin-top: -9em;
        margin-left: -15em;
        display: grid;
        grid-template-columns: auto auto;
        justify-items: flex-start;
    }

    .card_home_two {
        position: fixed;
        top: 85%;
        left: 74%;
        height: 10em;
        margin-top: -9em;
        margin-left: -15em;
        display: grid;
        grid-template-columns: auto auto;
        justify-items: flex-start;
    }
    .some_home {
        position: fixed;
        top: 96%;
        /* left: 26%; */
        width: 95em;
        height: 27em;
        margin-top: -9em;
        /* margin-left: -15em; */
        display: grid;
        background-image: url("./crowd-young-elderly-men-women-trendy-hipster-clothes_10083-912.jpg");
    }
}

@media screen
and (min-device-width: 1356px)
and (max-device-width: 1367px)
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) {

    .card {
        top: 33%;
        width: 22em;
        left: 56%;
    }
    .some {
        top: 99%;
        left: 55%;
    }
    .another {
        top: 104%;
        left: 57%;
    }

    .scoreMe {
        margin-left: 47%;
        margin-right: 27%;
    }

    .help {
        top:32%;
        left:81%;
        display: grid;
        height: auto;
        /* width: 12px; */
        background: none;
        grid-template-rows: auto auto;
        grid-row-gap: 61px;
    }
    .two_things {
        display: grid;
        margin-top: -112px;
        margin-left: -125px;
    }

    .another {
        top: 104%;
        left: 57%;
    }
    .small {
        top:33%;
    }
    .help {
        top:35%;
        left:83%;
        display: grid;
        height: auto;
        /* width: 12px; */
        background: none;
        grid-template-rows: auto auto;
        grid-row-gap: 61px;
    }
    .two_things {
        display: grid;
        margin-top: -112px;
        margin-left: -125px;
    }


    .card_home_one {
        position: fixed;
        top: 83%;
        left: 25%;
        height: 10em;
        margin-top: -9em;
        margin-left: -15em;
        display: grid;
        grid-template-columns: auto auto;
        justify-items: flex-start;
    }

    .card_home_two {
        position: fixed;
        top: 85%;
        left: 74%;
        height: 10em;
        margin-top: -9em;
        margin-left: -15em;
        display: grid;
        grid-template-columns: auto auto;
        justify-items: flex-start;
    }
    .some_home {
        position: fixed;
        top: 96%;
        /* left: 26%; */
        width: 95em;
        height: 27em;
        margin-top: -9em;
        /* margin-left: -15em; */
        display: grid;
        background-image: url("./crowd-young-elderly-men-women-trendy-hipster-clothes_10083-912.jpg");
    }
}

@media screen
and (min-device-width: 1231px)
and (max-device-width: 1356px)
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) {
    .card {
        top: 31%;
        width: 22em;
        left: 58%;
    }
    .some {
        top: 98%;
        left: 58%;
    }

    .another {
        top: 104%;
        left: 57%;
    }
    .scoreMe {
        margin-left: 47%;
        margin-right: 27%;
    }
  .small {
      top:33%;
  }
    .help {
        top:35%;
        left:83%;
        display: grid;
        height: auto;
        /* width: 12px; */
        background: none;
        grid-template-rows: auto auto;
        grid-row-gap: 61px;
    }
    .two_things {
        display: grid;
        margin-top: -112px;
        margin-left: -125px;
    }


    .card_home_one {
        position: fixed;
        top: 83%;
        left: 25%;
        height: 10em;
        margin-top: -9em;
        margin-left: -15em;
        display: grid;
        grid-template-columns: auto auto;
        justify-items: flex-start;
    }

    .card_home_two {
        position: fixed;
        top: 85%;
        left: 74%;
        height: 10em;
        margin-top: -9em;
        margin-left: -15em;
        display: grid;
        grid-template-columns: auto auto;
        justify-items: flex-start;
    }
    .some_home {
        position: fixed;
        top: 96%;
        /* left: 26%; */
        width: 95em;
        height: 27em;
        margin-top: -9em;
        /* margin-left: -15em; */
        display: grid;
        background-image: url("./crowd-young-elderly-men-women-trendy-hipster-clothes_10083-912.jpg");
    }
}

.answer {
 display: grid;
 grid-template-columns: auto auto;
 /*padding-top: 100px;*/
 height: 36px;
}

.right {
    background-color: green;
    margin-left: 31px;
    padding-top: 10px;
    font-family: serif;
    font-weight: bold;
    border-radius: 25px;
}

.wrong {
    background-color: red;
    margin-left: 130px;
    margin-right: 31px;
    padding-top: 10px;
    font-family: serif;
    font-weight: bold;
    border-radius: 25px;
}

.image {
    margin-top: 30px;
    border: 12px solid lavenderblush;
}

.desc {
    display: grid;
    grid-template-rows: auto auto;
    justify-items: center;
    grid-row-gap: 42px;
}

.ins {
    grid-template-rows: auto auto auto;
    grid-row-gap: 59px;
}

.fact-text {
    font-weight: bold;
    font-family: serif;
    font-size: 20px;
    margin:0px 39px;
    background: ivory;
}

.factright__icon {
   margin-top: -1px;
  cursor: pointer;
}


.unclickable {
    cursor:default;
}

body{
    font-family: serif;
}

/* container */
.container {
    padding: 5% 5%;
}

/* CSS talk bubble */
.talk-bubble {

    margin: 20px;
    display: inline-block;
    position: relative;
    width: 200px;
    height: auto;
    background-color: lightgoldenrodyellow;
}


.talk-bubble-another {

    margin: 20px;
display: inline-block;
    position: relative;
    width: 200px;
    height: 91px;
    background-color: lightgoldenrodyellow;
}


.border{
    border: 2px solid black;
}
.round{
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;

}

/* Right triangle placed top left flush. */
.tri-right.border.left-top:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -40px;
    right: auto;
    top: -8px;
    bottom: auto;
    border: 32px solid;
    border-color: #666 transparent transparent transparent;
}
.tri-right.left-top:after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -20px;
    right: auto;
    top: 0px;
    bottom: auto;
    border: 22px solid;
    border-color: lightgoldenrodyellow transparent transparent transparent;
}

/* Right triangle, left side slightly down */
.tri-right.border.left-in:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -40px;
    right: auto;
    top: 30px;
    bottom: auto;
    border: 20px solid;
    border-color: #666 #666 transparent transparent;
}
.tri-right.left-in:after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -20px;
    right: auto;
    top: 38px;
    bottom: auto;
    border: 12px solid;
    border-color: lightgoldenrodyellow lightgoldenrodyellow transparent transparent;
}

/*Right triangle, placed bottom left side slightly in*/
.tri-right.border.btm-left:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -8px;
    right: auto;
    top: auto;
    bottom: -40px;
    border: 32px solid;
    border-color: transparent transparent transparent #666;
}
.tri-right.btm-left:after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 0px;
    right: auto;
    top: auto;
    bottom: -20px;
    border: 22px solid;
    border-color: transparent transparent transparent lightgoldenrodyellow;
}

/*Right triangle, placed bottom left side slightly in*/
.tri-right.border.btm-left-in:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 30px;
    right: auto;
    top: auto;
    bottom: -40px;
    border: 20px solid;
    border-color: #666 transparent transparent #666;
}
.tri-right.btm-left-in:after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 38px;
    right: auto;
    top: auto;
    bottom: -20px;
    border: 12px solid;
    border-color: lightgoldenrodyellow transparent transparent lightgoldenrodyellow;
}

/*Right triangle, placed bottom right side slightly in*/
.tri-right.border.btm-right-in:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: 30px;
    bottom: -40px;
    border: 20px solid;
    border-color: #666 #666 transparent transparent;
}
.tri-right.btm-right-in:after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: 38px;
    bottom: -20px;
    border: 12px solid;
    border-color: lightgoldenrodyellow lightgoldenrodyellow transparent transparent;
}
/*
	left: -8px;
  right: auto;
  top: auto;
	bottom: -40px;
	border: 32px solid;
	border-color: transparent transparent transparent #666;
	left: 0px;
  right: auto;
  top: auto;
	bottom: -20px;
	border: 22px solid;
	border-color: transparent transparent transparent lightgoldenrodyellow;

/*Right triangle, placed bottom right side slightly in*/
.tri-right.border.btm-right:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: -8px;
    bottom: -40px;
    border: 20px solid;
    border-color: #666 #666 transparent transparent;
}
.tri-right.btm-right:after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: 0px;
    bottom: -20px;
    border: 12px solid;
    border-color: lightgoldenrodyellow lightgoldenrodyellow transparent transparent;
}

/* Right triangle, right side slightly down*/
.tri-right.border.right-in:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: -40px;
    top: 30px;
    bottom: auto;
    border: 20px solid;
    border-color: #666 transparent transparent #666;
}
.tri-right.right-in:after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: -20px;
    top: 38px;
    bottom: auto;
    border: 12px solid;
    border-color: lightgoldenrodyellow transparent transparent lightgoldenrodyellow;
}

/* Right triangle placed top right flush. */
.tri-right.border.right-top:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: -40px;
    top: -8px;
    bottom: auto;
    border: 32px solid;
    border-color: #666 transparent transparent transparent;
}
.tri-right.right-top:after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: -20px;
    top: 0px;
    bottom: auto;
    border: 20px solid;
    border-color: lightgoldenrodyellow transparent transparent transparent;
}

/* talk bubble contents */
.talktext{
    padding: 1em;
    text-align: left;
    font-weight: bold;
    font-size: 18px;
}
.talktext p{
    /* remove webkit p margins */
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}


