.overlay {
    align-items: center;
    background: linear-gradient(to right, #bcbcbc 25%,#ffcd02 25%, #ffcd02 50%, #e84f47 50%, #e84f47 75%, #65c1ac 75%);
    box-sizing: border-box;
    bottom:0;
    display: grid;
    grid-template-rows: auto auto;
    font-family: "Comic Sans MS", cursive, sans-serif;;
    font-size: 32px;
    justify-content: center;
    margin: auto;
    padding: 20px;
    height: 515px;
    text-align: center;
    width: 515px;
    border-radius: 25px;
    grid-row-gap: 12px;
}
.span_overlay {
    /*margin-top: 39px;*/
}
.home_button_overlay {
    font-size: x-large;
    /* border-radius: 30px; */

    width: 191px;
    height: 49px;
    font-weight: bold;
    font-family: "Comic Sans MS", cursive, sans-serif;
    cursor: pointer;
    background: white;
    margin-top:18px;
    text-decoration: none;
    color: black;
}

@media only screen and (max-width: 360px) {
    .overlay {
        width:356px;
    }

}

@media only screen and (max-width: 320px) {
    .overlay {
        width:309px;
    }

}

@media only screen and (max-width: 414px) {
    .overlay {
        width:406px;
    }

}

@media only screen and (max-width: 375px) {
    .overlay {
        width:373px;
    }

}

.overlay__text {
    font-size: 20px;
    background: ivory;
    border: 12px solid lavenderblush;
    font-family: "Comic Sans MS", cursive, sans-serif;;
    font-weight: bold;
}

.something {
    background: rgba(0,0,0,.8);
    animation: 0.3s ease 0s 1 normal none running fadeIn;
    bottom: 0;
    display: flex;
    flex-direction: column;
    left:0;
    overflow-y: auto;
    right:0;
    top: 0;
    z-index: 999;
    padding: 0;
    position: absolute;
}

.content {
    display: grid;
    grid-template-rows: auto auto;
    justify-content: center;
}

.content_two {
    display: grid;
    grid-template-rows: auto auto;
    justify-content: center;
}

/*.overlay__icon::before {*/
/*    content: "\2716";*/
/*    display: inline-block;*/
/*    font-family: "Comic Sans MS", cursive, sans-serif;;*/
/*    -webkit-font-smoothing: antialiased;*/
/*    -moz-osx-font-smoothing: grayscale;*/
/*    font-style: normal;*/
/*    font-variant: normal;*/
/*    font-weight: 400;*/
/*    line-height: 1em;*/
/*    margin-left: .2em;*/
/*    margin-right: .2em;*/
/*    speak: none;*/
/*    text-align: center;*/
/*    text-decoration: inherit;*/
/*    text-transform: none;*/
/*    width: 1em;*/
/*}*/

.overlay__icon {
    font-size: x-large;
    /* border-radius: 30px; */

    width: 191px;
    height: 49px;
    font-weight: bold;
    font-family: "Comic Sans MS", cursive, sans-serif;
    cursor: pointer;
    background: white;
    margin-top:18px;
}

.c-room-error__button {
    background: none;
    border: 0;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    margin: 0;
    padding: 0;
}
